* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav {
    background-color: #1F2021;
    overflow: hidden;
    width: 100%;
    padding: 25px 35px;
}

.nav a {
       float: right;
      color: #ffffff;
      display: block;
      text-align: center;
      padding: 17px 20px;
      text-decoration: none;
      font-size: 15px;
      background-color: rgb(8, 8, 8);
    }

.nav a:hover {
            background: #1F2021;
            color: #06C695;
        }

.nav .panicon {
        float: left;
        padding: 17px 20px;
    }

.nav .chatwithpan {
        border: 2px solid #06C695;
        box-sizing: border-box;
    }

  .nav a.active {
        background-color: #06C695;
        color: white;
    }

    h1 {
        text-align: center;
        font-family: sans-serif;
    }
    first-letter {
        color: red;
    }
    second-letter {
        color: yellow;
    }
    third-letter {
        color:green;
    }

    html {
        box-sizing: border-box;
      }
      
      *, *:before, *:after {
        box-sizing: inherit;
      }
      
      .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
      }
      
      @media screen and (max-width: 650px) {
        .column {
          width: 100%;
          display: block;
        }
      }
      
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
      
      .container {
        padding: 0 16px;
      }
      
      .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
      }
      
      .title {
        color: grey;
      }
      img {
          border-radius: 50%;
      }
    