<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <title>FAQ | Pan Chatbot</title>
    <style>
        nav.navbar {
            background-color: #1F2021 !important;
            font-weight: 300;
        }
    
        .navbar-nav>li>a.active {
            color: #6FCF97 !important;
        }
    
        .navbar-nav>li>a {
            color: #fff !important;
        }
    
        .right-side {
            padding-top: 13vh;
            padding-bottom: 16vh;
        }
    
        .btn-success {
            background-color: #06C695;
            border-color: #06C695;
        }
    
        .btn-success:hover {
            background-color: #06C695;
            border-color: #06C695;
        }
    </style>
</head>

<body style="background-image:url(Images/background.jpg)">

    <div class="body-container">
        
        <!-- ............. MENU RESPONSIVE .................... -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-2">
            <a class="navbar-brand" href="#">
                <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/Group_lv8bea.png"
                    alt="Logo" class="img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarNavDropdown" class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
        
                </ul>
                <ul class="navbar-nav mr-5">
        
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link active" href="faq.html">FAQ</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link"
                            href="https://www.termsfeed.com/terms-service/63c7e2d102f8f89a4dc18f44ce826b03">Terms of Use</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link btn btn-outline-success" href="chat.html">Chat with Pan</a>
                    </li>
                </ul>
            </div>
        </nav>
        </div><!-- End of Responsive Menu-->

        <!--..................FAQS Area.........................-->
        <div class="row">
            <div class="col-sm-8 ml-5 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">What is a Chatbot?</h5>
                        <p class="card-text">A <strong>Chatbot</strong> is a software robot that can interact with an individual or consumer through a service of
                        automated conversations made largely in natural language. The chatbot originally used question and answer libraries, but
                        advances in artificial intelligence allow it to increasingly “analyze” and “understand” the messages.
                        Chatbots are automation systems designed to make your business run more efficiently.</p>
                    </div>
                </div>
            </diV>
        </div>
        <div class="row">
            <div class="col-sm-8 ml-5 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">What is Pan Chatbot?</h5>
                        <p class="card-text">Pan Chatbot is a dedicated support automation platform, designed to give insight on HNG internship.</p>
                    </div>
                </div>
            </diV>
        </div>
        <div class="row">
            <div class="col-sm-8 ml-5 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">How does the platform work?</h5>
                        <p class="card-text">Pan Chatbot platform allows you to communicate and obtain information about the HNG internship. 
                        If the bot can’t answer the question, it will forward the message to a human. The bot also learns with each new conversation.</p>
                    </div>
                </div>
            </diV>
        </div>
        <div class="row">
            <div class="col-sm-8 ml-5 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">What languages does the platform support?</h5>
                        <p class="card-text">At the moment, we only support <strong>English</strong>.</p>
                    </div>
                </div>
            </diV>
        </div>
        <div class="row">
            <div class="col-sm-8 ml-5 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">How much will it cost to use bot?</h5>
                        <p class="card-text">The Pan Chatbot is free for everyone to use.</p>
                    </div>
                </div>
            </diV>
        </div>
        <div class="row">
            <div class="col-sm-8 ml-5 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">How do I make use of Pan Chatbot?</h5>
                        <p class="card-text">Simple, Creat an account by signing up and click on either "Chat with Pan" or "Start Chat".</p>
                    </div>
                </div>
            </diV>
        </div>
        <div class="row">
            <div class="col-sm-8 ml-5 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">What are some of the bot-specific terms I should know?</h5>
                        <p class="card-text">1. Intents: An intent is the intention of a visitor. Intents represent the visitor’s purpose or goal, like booking a
                        flight, paying a bill, or finding a news article. Intents are contained in the questions that visitors ask chatbots.
                        <br>
                        2. Entities: Pieces of information which provide more context to an intent. They might be times, dates, places, people, or
                        other pieces of information which adjust the intent to a visitor’s specific needs.
                        <br>
                        3. Natural Language Processing (NLP): A form of artificial intelligence that enables chatbots to understand conversational
                        dialog and identify intent.
                        <br>
                        4. Machine Learning: Algorithms that help a chatbot to “learn” concepts using data — without being explicitly programmed.
                        For example, chatbots gain more confidence in their responses based on feedback from agents and customers.
                        <br>
                        5. Sentiment Analysis: An automated process that allows a chatbot to extract verbal cues from chats to determine the mood
                        and feelings of a visitor and adapt responses accordingly.
                        <br>
                        6. Decision Tree: An “If this… then that” framework that guides the customer to choose from a list of pre-defined scripts
                        and options. This framework can be presented either through keywords or buttons.
                        <br>
                        7. Bot Sensitivity: When a visitor asks a bot a question, it will calculate a Matching Score in real-time for every intent
                        in its library. The higher the Matching score, the more confident the bot is that an intent should be used as an answer
                        for that particular question. It will then use the intent with the highest Matching score as the answer, provided it
                        meets the sensitivity parameters.</p>
                    </div>
                </div>
            </diV>
        </div>
        <div class="row">
            <div class="col-sm-8 ml-5 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">What can I expect from a bot?</h5>
                        <p class="card-text">1. FAQs: Chatbots can handle questions like ‘What are your store hours?’, ‘Which location is closest to me?’, and more,
                        freeing up your agents to handle the more complex queries.
                        <br>
                        2. Gathering customer information: Bots can pass off the who, what, where, when, and why to an agent, helping them
                        contextualize queries and reducing time spent on each chat.
                        <br>
                        3. Triage queries: Thanks to bot’s smart routing capabilities, customer queries can be routed to the appropriate department
                        or agent.
                        <br>
                        4. Shorter queues, faster responses: Chatbots can handle a virtually unlimited amount of chats simultaneously, cutting down
                        on response time for customers. They can also deliver responses more quickly than human agents.
                        <br>
                        5. 24/7 service: Bots provide an additional channel for customers to still get answers during off hours when a human agent
                        is not available.</p>
                    </div>
                </div>
            </diV>
        </div>
        <div class="row">
            <div class="col-sm-8 ml-5 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">How do I know if bots are right for me?</h5>
                        <p class="card-text">If you have customers, bots are right for you. A common misconception is that bots are only useful if you meet certain
                        criteria or have certain scenarios. In reality, all businesses can benefit from bots, no matter the size.
                        For example is even if you don’t have live chat, your customers can benefit from social media bots.</p>
                    </div>
                </div>
            </diV>
        </div>
        <div class="row">
            <div class="col-sm-8 ml-5 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">What can my agents do with bots?</h5>
                        <p class="card-text">Bots aren’t just customer-facing — they can also help your agents be more efficient and productive. Agent-facing bots
                        live directly in the agent console and analyze previous and current chat interactions to suggest responses, links,
                        videos, and other resources that may be suitable. These functionalities mean that your agents can use bots to deliver
                        accurate responses to customer queries more quickly.</p>
                    </div>
                </div>
            </diV>
        </div>
        <div class="row">
            <div class="col-sm-8 ml-5 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">How do bots improve the customer experience?</h5>
                        <p class="card-text">Bots improve the customer experience by giving your customers the quick answers they demand, on their terms, anytime and
                        anywhere they want. With the ability to provide 24/7 customer service and take on a virtually unlimited amount of
                        customer queries simultaneously, bots are your queue busters and central automated hubs of information.
                        Taking it a step further, if your bot can’t answer a query, it’ll automatically route the customer to an agent who can –
                        while also handing off the transcript to help the agent contextualize the interaction. That’s a customer experience win.</p>
                    </div>
                </div>
            </diV>
        </div>
        <div class="row">
            <div class="col-sm-8 ml-5 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">What percentage of chat volume can the bot handle?</h5>
                        <p class="card-text">Statiscally bots are currently involved in <strong>% of all chat interactions – 1 in 4 of those</strong> 
                        are handled from start to finish without an agent. Your chatbot volume distribution will naturally vary between business hours and off-hours.
                        During business hours, bots should be your first line of defence for FAQs. Then there are customers that you would want
                        instantly routed to an agent, like VIPs, those with urgent technical issues, or other specific criteria that apply to
                        your business. Taking those parameters into consideration, bots should be handling at least half of all incoming chat
                        volume.
                        During off-hours, your bots should be the first touch for 100% of all queries, with the ability to pass the more complex
                        offline messages to an agent at a later time.</p>
                    </div>
                </div>
            </diV>
        </div>
        <div class="row">
            <div class="col-sm-8 ml-5 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">What are some key bot features?</h5>
                        <p class="card-text">1. Handing conversations off to an agent: Eighty-six percent of consumers believe they should always have the option to
                        transfer to a live agent when dealing with a chatbot. When looking for features, this one is your first priority.
                        <br>
                        2. Smart routing: This feature ties into the one above. Not only should the bot be able to hand off conversations, but they
                        should also be able to route the customer to the right person in the right department.
                        <br>
                        3. Integrations: Whether it’s a webhook to grab location information, or a CRM integration to access a customer profile, a
                        chatbot is only useful when it’s integrated into your current technology stack.
                        <br>
                        4. Small talk: Just because it’s a ‘bot’ doesn’t mean it has to be robotic. Customers enjoy having a little fun with a
                        chatbot and your bot should be able to play ball.</p>
                    </div>
                </div>
            </diV>
        </div>
        <div class="row">
            <div class="col-sm-8 ml-5 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">What are some of the challenges can I expect with bots?</h5>
                        <p class="card-text">The hardest part is getting started. Once you kick off the process and have your ducks in a row, everything else is
                        smooth sailing. You can expect to face challenges while building your bot if you don’t plan it out properly.
                        You need to align your bot with both business goals and customer needs and create a comprehensive deployment strategy
                        otherwise you’ll have problems down the line.</p>
                    </div>
                </div>
            </diV>
        </div>
        <div class="row">
            <div class="col-sm-8 ml-5 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">What security concerns are there with bots?</h5>
                        <p class="card-text">Chatbot technology has no specific security concerns that differ from any other system. The technology itself is no less
                        ‘safe’ or ‘secure’ than any other platform. As long as your website and technology stack itself are set up securely and you take steps to
                        ensure that your customer data is secure, then there’s no need to worry about security breaches with a bot.</p>
                    </div>
                </div>
            </diV>
        </div>
        <div class="row">
            <div class="col-sm-8 ml-5 mt-2 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">How do I know if my bot will be successful?</h5>
                        <p class="card-text">As with any technology investment, chatbots are only as good as how they’re implemented and maintained. But if you plan
                        and build out your bot with clear objectives and measurable milestones, success will be within your reach. You will know
                        if your chatbot is successful through agent and customer feedback; decreased offline messages; and/or improved KPIs such
                        as shopping cart conversion, and others specific to your use case.You don’t need to be a bot expert or know how to code complex scripts to build 
                        a successful chatbot. Answering these essential questions will get you 80% of the way there – the remaining 20% is tailoring the bot to your
                        specificrequirements.</p>
                    </div>
                </div>
            </diV>
        </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>