<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <title>Pan Chat</title>
    <style>
        nav.navbar {
            background-color: #1F2021 !important;
            font-weight: 300;
        }
        
        .navbar-nav>li>a.active {
            color: #6FCF97 !important;
        }
        
        .navbar-nav>li>a {
            color: #fff !important;
        }
        
        .right-side {
            padding-top: 13vh;
            padding-bottom: 16vh;
        }
        
        .btn-success {
            background-color: #06C695;
            border-color: #06C695;
        }
        
        .btn-success:hover {
            background-color: #06C695;
            border-color: #06C695;
        }
        
        .chat-screen {
            background-image: url('https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569406095/panchat/Untitled-1_v5g9ln.png');
            background-position: center center;
            background-size: cover;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-2">
        <a class="navbar-brand" href="../index.html">
            <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/Group_lv8bea.png" alt="Logo" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">

            </ul>
            <ul class="navbar-nav mr-5">

                <li class="nav-item mr-5">
                    <a class="nav-link active" href="../index.html">Home</a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link" href="https://www.termsfeed.com/terms-service/63c7e2d102f8f89a4dc18f44ce826b03">Terms of Use</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="col-md-12">

        <div class="col-md-8 offset-md-2 chat-screen">
            <div class="row">
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/images_tgrhxk.png" alt="..." class="img-fluid float-left rounded" style="width: 50px;">
                        <p class="pt-3 pb-3 mt-2 ml-5 pl-2" style="background-color:#fff; border-radius: 0px 30px 30px 30px;">Hello, my name is Pan. I’m your mentor and friend and ready to your questions. What is your name?
                        </p>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/chat_button_ejbakd.png" alt="..." class="img-fluid float-right rounded" style="width: 50px;">
                        <p class="pt-1 pb-3 ml-2 mr-5 pl-3" style="background-color:rgb(227, 254, 209); border-radius: 30px 0px 30px 30px;">My name is NAME
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/images_tgrhxk.png" alt="..." class="img-fluid float-left rounded" style="width: 50px;">
                        <p class="pt-3 pb-3 mt-2 ml-5" style="background-color:#fff; border-radius: 0px 30px 30px 30px;">Nice to meet you NAME. you can ask me any question about the internship. I’m here to help you.
                        </p>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/chat_button_ejbakd.png" alt="..." class="img-fluid float-right rounded" style="width: 50px;">
                        <p class="pt-1 pb-3 ml-2 mr-5 pl-3" style="background-color:rgb(227, 254, 209); border-radius: 30px 0px 30px 30px;">What is HNG
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/images_tgrhxk.png" alt="..." class="img-fluid float-left rounded" style="width: 50px;">
                        <p class="pt-3 pb-3 mt-2 ml-5" style="background-color:#fff; border-radius: 0px 30px 30px 30px;">HNG internship is a 3 months remote internship designed to find and develop the most talented software developers.
                        </p>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/chat_button_ejbakd.png" alt="..." class="img-fluid float-right rounded" style="width: 50px;">
                        <p class="pt-1 pb-3 ml-2 mr-5 pl-3" style="background-color:rgb(227, 254, 209); border-radius: 30px 0px 30px 30px;">I am a newbie and have no experience, is the programme for me?
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/images_tgrhxk.png" alt="..." class="img-fluid float-left rounded" style="width: 50px;">
                        <p class="pt-3 pb-3 mt-2 ml-5" style="background-color:#fff; border-radius: 0px 30px 30px 30px;">Yes the programme is for you. There is a pre-internship to prepare the newbies. If you are dedicated, you will be able to do well. To know more, click the link <a href="https://hng.tech/about">HNG</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/chat_button_ejbakd.png" alt="..." class="img-fluid float-right rounded" style="width: 50px;">
                        <p class="pt-1 pb-3 ml-2 mr-5 pl-3" style="background-color:rgb(227, 254, 209); border-radius: 30px 0px 30px 30px;">How do I join
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/images_tgrhxk.png" alt="..." class="img-fluid float-left rounded" style="width: 50px;">
                        <p class="pt-3 pb-3 mt-2 ml-5" style="background-color:#fff; border-radius: 0px 30px 30px 30px;">Follow the link and join. its an easy process. <a href="https://hng.tech/become-intern">Join</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/chat_button_ejbakd.png" alt="..." class="img-fluid float-right rounded" style="width: 50px;">
                        <p class="pt-1 pb-3 ml-2 mr-5 pl-3" style="background-color:rgb(227, 254, 209); border-radius: 30px 0px 30px 30px;">Is the internship free?
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/images_tgrhxk.png" alt="..." class="img-fluid float-left rounded" style="width: 50px;">
                        <p class="pt-3 pb-3 mt-2 ml-5" style="background-color:#fff; border-radius: 0px 30px 30px 30px;">The HNG internship is completely free. </p>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/chat_button_ejbakd.png" alt="..." class="img-fluid float-right rounded" style="width: 50px;">
                        <p class="pt-1 pb-3 ml-2 mr-5 pl-3" style="background-color:rgb(227, 254, 209); border-radius: 30px 0px 30px 30px;">Will the internship pay the interns or support me? </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/images_tgrhxk.png" alt="..." class="img-fluid float-left rounded" style="width: 50px;">
                        <p class="pt-3 pb-3 mt-2 ml-5" style="background-color:#fff; border-radius: 0px 30px 30px 30px;">in the past, we have paid interns a monthly stipends, but because of the large number of interns we take in yearly, we do not pay the interns except in some circumstance.</p>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/chat_button_ejbakd.png" alt="..." class="img-fluid float-right rounded" style="width: 50px;">
                        <p class="pt-1 pb-3 ml-2 mr-5 pl-3" style="background-color:rgb(227, 254, 209); border-radius: 30px 0px 30px 30px;">i don’t have a laptop will hng give me one (or any question the bot doesn’t understand)
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/images_tgrhxk.png" alt="..." class="img-fluid float-left rounded" style="width: 50px;">
                        <p class="pt-3 pb-3 mt-2 ml-5" style="background-color:#fff; border-radius: 0px 30px 30px 30px;">i do not understand this question. please re-phrase it. The following are questions I can answer:
                            <ul>
                                <li>What is HNG</li>
                                <li>How can I join</li>
                                <li>What programmes can I do in the internship
                                </li>
                                <li>What do I need to join the internship</li>
                                <li>Will I get a job after the internship</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/chat_button_ejbakd.png" alt="..." class="img-fluid float-right rounded" style="width: 50px;">
                        <p class="pt-1 pb-3 ml-2 mr-5 pl-3" style="background-color:rgb(227, 254, 209); border-radius: 30px 0px 30px 30px;">What do I need to get started
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/images_tgrhxk.png" alt="..." class="img-fluid float-left rounded" style="width: 50px;">
                        <p class="pt-3 pb-3 mt-2 ml-5" style="background-color:#fff; border-radius: 0px 30px 30px 30px;">You will need the following to do this internship successfully: <br> a laptop <br> internet <br> time <br> electricity.
                        </p>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/chat_button_ejbakd.png" alt="..." class="img-fluid float-right rounded" style="width: 50px;">
                        <p class="pt-1 pb-3 ml-2 mr-5 pl-3" style="background-color:rgb(227, 254, 209); border-radius: 30px 0px 30px 30px;">What programmes will I learn or do in the internship
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/images_tgrhxk.png" alt="..." class="img-fluid float-left rounded" style="width: 50px;">
                        <p class="pt-3 pb-3 mt-2 ml-5" style="background-color:#fff; border-radius: 0px 30px 30px 30px;">You will have the Opportunity to learn <br> Design <br> Frontend Development <br> Backend Development <br> Machine Learning <br> Digital Marketing <br> Android Development <br> Sale Engineering
                            <br>
                        </p>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/chat_button_ejbakd.png" alt="..." class="img-fluid float-right rounded" style="width: 50px;">
                        <p class="pt-1 pb-3 ml-2 mr-5 pl-3" style="background-color:rgb(227, 254, 209); border-radius: 30px 0px 30px 30px;">Will I get a job from the internship
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/images_tgrhxk.png" alt="..." class="img-fluid float-left rounded" style="width: 50px;">
                        <p class="pt-3 pb-3 mt-2 ml-5" style="background-color:#fff; border-radius: 0px 30px 30px 30px;">Yes, if you complete the internship successfully, there will be job oppurtunities. we will also prepare you for interviews and help you with how to build a work profile. take a look at our past interns https://hng.tech/interns
                        </p>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/chat_button_ejbakd.png" alt="..." class="img-fluid float-right rounded" style="width: 50px;">
                        <p class="pt-1 pb-3 ml-2 mr-5 pl-3" style="background-color:rgb(227, 254, 209); border-radius: 30px 0px 30px 30px;">Thank you
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/images_tgrhxk.png" alt="..." class="img-fluid float-left rounded" style="width: 50px;">
                        <p class="pt-3 pb-3 mt-2 ml-5" style="background-color:#fff; border-radius: 0px 30px 30px 30px;">You're welcome NAME
                        </p>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/chat_button_ejbakd.png" alt="..." class="img-fluid float-right rounded" style="width: 50px;">
                        <p class="pt-1 pb-3 ml-2 mr-5 pl-3" style="background-color:rgb(227, 254, 209); border-radius: 30px 0px 30px 30px;">Bye
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="clearfix">
                        <img src="https://res.cloudinary.com/sgnolebagabriel/image/upload/v1569400532/panchat/images_tgrhxk.png" alt="..." class="img-fluid float-left rounded" style="width: 50px;">
                        <p class="pt-3 pb-3 mt-2 ml-5" style="background-color:#fff; border-radius: 0px 30px 30px 30px;">
                            Goodbye NAME, hope you check back soon.</p>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4"></div>
            </div>


        </div>

        <br><br>

        <footer class="fixed-bottom" style="background-color: #fff">
            <div class="col-md-8 offset-md-2">
                <div class="input-group mb-1 mt-2">
                    <input type="text" class="form-control" placeholder="Type your message...">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
